@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* layout */

body {
    height: 100vh;
}

.main-container {
    display: flex;
    height: 100%;
   flex-wrap: wrap;
}


.content {
    flex: 1 1 0;    
    justify-content: center;
    padding: 16px;

}
.container {
    max-width: 70ch;
    margin: 0 auto;

}

.side-image {
    flex: 1 1 0;
    background-image: url(/assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: max(30vw, 300px);
}

.form-control{
    position: relative;
} 

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 1px 3px;
    width: 100%;
}

input[type="number"] {
    width: 100%;

}
button {
    width: 100%;
}

label {
    position: absolute;
    left: 0.5rem;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    > * {
       flex:0 0 auto; 
    }
}

.birthday {
    display: flex;
    width: 100px;
}

.temp-container {
    display: flex;
    justify-content: space-around;
}

.temp {
    background-color: aqua;

}
input[type="checkbox"] {
    height: fit-content;
}
.confirm {
    display: flex;
    gap: 1px;
}

/* font */

h1, .logo {
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #2B6E4F;
}

p {
    text-align: center;
    color: #555555;
}