* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* layout */

body {
    height: 100vh;
}

.main-container {
    display: flex;
    height: 100%;
   flex-wrap: wrap;
}

.center {
   
    
}
.content {
    flex: 3 1 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 16px;

}

.side-image {
    flex: 2 1 0;
    background-image: url(/assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: max(30vw, 300px);
}

.form-control{
    position: relative;
} 

input{
    padding: 1px 3px;
}

label {
    position: absolute;
    left: 0.5rem;
}

.name {
    display: flex;
    flex-wrap: wrap;
}


